<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div id="logo">
      <div class= "container ion-text-center">
        <img src="assets/logo.jpeg">
      </div>
    </div>
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">

          <ion-label>Usuario: {{data.usuario}}</ion-label>
        </ion-item>

      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
